<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaulthref="/tabs/episodes"></ion-back-button>
		</ion-buttons>
		<ion-title>Episode Details</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-card *ngIf="episode">
		<ion-card-content>
			<ion-list>

				<ion-item>
					<ion-label> Episode Number </ion-label>
					{{ episode.episode }}
				</ion-item>

				<ion-item>
					<ion-label> Title </ion-label>
					{{ episode.title }}
				</ion-item>

				<ion-item>
					<ion-label> Season </ion-label>
					{{ episode.season }}
				</ion-item>

				<ion-item>
					<ion-label> Air Data </ion-label>
					{{ episode.air_date }}
				</ion-item>

			
				<ion-item>
					<ion-label> Characters </ion-label>
					{{ episode.characters }}
				</ion-item>

			</ion-list>
		</ion-card-content>
	</ion-card>
</ion-content>