<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaulthref="/tabs/quotes"></ion-back-button>
		</ion-buttons>
		<ion-title>Quote Details</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card *ngIf="quote">
		<ion-card-content>
			<ion-list>
				<ion-item>
					<ion-label> Quote </ion-label>
					{{ quote.quote }}
				</ion-item>

				<ion-item>
					<ion-label> Author </ion-label>
					{{ quote.author }}
				</ion-item>


			</ion-list>
		</ion-card-content>
	</ion-card>
</ion-content>